/* custom css */
body {
	padding: 0;
	background: #4e483c url('../images/bg.png') repeat-x;
	color: #e9ffca;
}

footer {
	background: #4e483c;
	box-shadow: 0px 500px 0px 500px #4e483c; /* footer trick */
}

::-moz-selection, *::-moz-selection {
	background: #ccc;
	background: rgba(128, 128, 128, 0.3);
	text-shadow: none;
}

::selection, *::selection {
	background: #ccc;
	background: rgba(128, 128, 128, 0.3);
	text-shadow: none;
}

.h1, h1, .h2, h2 {
	color: #e9ffca;
}

a {
	color: #fff;
}

a:hover, a:active, a:focus {
	color: #e9ffca;
}

textarea {
	resize: none;
}

hr {
	border-top: 1px solid #5e584c;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.well hr, .darkHr {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	clear: both;
}

.review, .reviewHr {
	padding: 0 15px;
}

.inline {
	display: inline;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #3C4E4B;
	border-color: rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #afd37c;
	border-color: rgba(255, 255, 255, 0.4);
}

.navbar-inverse .navbar-toggle {
	border-color: #3C4E4B;
	border-color: rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-toggle {
	border-color: #afd37c;
	border-color: rgba(255, 255, 255, 0.4);
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover
	{
	background-color: #3C4E4B;
	background-color: rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
	{
	background-color: #afd37c;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default {
	background-color: #8cbc46;
	background-color: rgba(140, 188, 70, 0.4);
	border-color: #5d8e2a;
	border-color: rgba(140, 188, 70, 0.6);
	border-radius: 0;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}

.navbar-inverse {
	background-color: #44690c;
	background-color: rgba(0, 0, 0, 0.2);
	border-color: #5d8e2a;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
	color: #afd37c;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
	color: #afd37c;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover
	{
	color: #fff;
}

.navbar-default .navbar-brand {
	color: #afd37c;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover
	{
	color: #fff;
	background-color: transparent;
}

.thumbnail img {
	width: 100%;
	padding: 10px;
}

.ratings {
	padding-right: 10px;
	padding-left: 10px;
	color: #d17581;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
	color: #333;
}

.thumbnail {
	background-color: #494333;
	border: 1px solid #494333;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0;
	box-shadow: 0px 5px 8px -2px #000;
	box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.3);
}

.thumbnail h3 {
	color: #fcf9da;
	margin-top: 0px;
}

.thumbnail p {
	color: #efe9dd;
}

.btn {
	border-radius: 0 !important;
}

.btn-primary {
	color: #fff;
	background-color: #b74a12;
	border-color: #b44f25;
}

.label {
	border-radius: 0;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active,
	.btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary
	{
	color: #fff;
	background-color: #a64310;
	border-color: #a54720;
}

.btn-default {
	border-radius: 0;
}

.jumbotron {
	background: url('../images/tea.jpg') 50% 40% no-repeat;
	background-size: 100%;
	border-radius: 0 !important;
	box-shadow: 0px 5px 10px -2px #000;
	box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.7);
}

@media ( max-width : 553px ) {
	.jumbotron {
		background-size: auto 100%;
	}
}

.jumbotron h1, .jumbotron p {
	color: #fcf9da;
	text-shadow: 0px 0px 20px #000;
}

.ratings, .ratings p {
	color: #d17581;
}

.thumbnail div, .thumbnail h4 {
	color: #fcf9da;
}

.thumbnail h2 {
	margin-top: 4px;
}

.thumbnail h2 a {
	color: #c2542f;
}

.thumbnail h2 a:hover, .thumbnail h2 a:active {
	color: #d96640;
}

.thumbnail .caption-full, .thumbnail .caption-full h4, .thumbnail .caption-full h2,
	.thumbnail .caption-full p {
	color: #fcf9da;
}

.thumbnail .caption-full div {
	color: #9d9588;
}

.panel-primary>.panel-heading {
	color: #fff;
	background-color: #b74a12;
	border-color: #b44f25;
}

.panel-primary {
	border-color: #b44f25;
}

.panel-info {
	border-color: #f4c014;
}

.panel-info>.panel-heading {
	color: #fff;
	background-color: #f6c803;
	border-color: #f4c014;
}

.panel {
	box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.5);
	color: #333;
	border-radius: 0;
}

.panel-heading {
	border-radius: 0;
}

footer {
	color: #fcf9da;
	margin: 50px 0;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.navbar-lower {
	margin-top: -20px;
}

.navbar-relative {
	position: relative;
}

.indexDesc {
	height: 45px;
	width: 100%;
	word-wrap: break-word;
}

.productsDesc {
	height: 45px;
	width: 100%;
	word-wrap: break-word;
}

.form-group {
	min-height: 40px;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}

fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active,
	fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active,
	fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover
	{
	background-color: #b06d4a;
	border-color: #a26b4f;
}

input[readonly] {
	background-color: white !important;
	cursor: text !important;
}

.well {
	min-height: 125px;
	color: #333;
	border-radius: 0;
}

.form-control {
	border-radius: 0;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.button-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-margin-up {
	margin-top: -15px;
}

.btn-less-margin-up {
	margin-top: -5px;
}

#buyFrameDiv {
	padding: 0;
}

.margin-center {
	margin: 0 auto;
}

.btn-confirm-cart {
	width: 76px;
}

.address-pad {
	padding: 10px;
	padding-left: 25px;
}

.cart-code {
	margin-top: -11px;
	position: absolute;
	font-size: 85%;
	color: #666;
}

.customer-avatar {
	font-size: 156px;
	background-color: #ddd;
	color: #666;
	color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	margin-bottom: 30px;
}

.nowrap, .customerInfo p {
	white-space: nowrap;
}

.cart-product {
	color: #c2542f;
}

a:hover, a:active, a:focus .cart-product {
	color: #c2542f;
}

.providers table tr td, .providers table tr {
	float: right;
}

.providers table tr td label, .providers table tr td input {
	font-weight: 200;
	float: right;
	padding: 0 5px;
	word-wrap: normal;
}

.thumbnail a:hover, .thumbnail a:active, .thumbnail a:focus {
	color: #9d9588;
}

.thumbnail a {
	color: #BBB1A0;
}

a.btn-default, a.btn-default:hover, a.btn-default:focus, a.btn-default:active
	{
	color: #333;
}

.carousel {
	box-shadow: 0px 5px 10px -2px #000;
	box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
}

.carousel-indicators li {
	box-shadow: 0px 0px 10px 0px #000;
	box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2);
	color: #000;
	background-color: #4D473B;
	background-color: rgba(77, 71, 59, 0.85);
	border: 1px solid #494335;
	border-radius: 0;
	border: 1px solid #494335;
}

.carousel-indicators .active {
	background-color: #494335;
}

.carousel-caption {
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	color: #efe9dd;
	background: rgba(73, 67, 51, 0.7);
	padding-top: 10px;
}

.carousel-control:hover, .carousel-control:active, .carousel-control:focus
	{
	color: #fff;
}

.carousel-control.left, .carousel-control.right {
	/*background: none;*/
	
}

.carousel-caption h2 a {
	color: #d96640;
}

.tooltip-inner {
	white-space: pre-wrap;
}

/* calendario */
.icon-calendar:before {
	content: "\e109";
	position: relative;
	top: 7px;
	left: 9px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-calendar {
	border: 1px solid;
	position: relative;
	margin-top: -34px;
	width: 34px !important;
	height: 34px !important;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.icon-calendar:hover, .icon-calendar:active, .icon-calendar:focus {
	background-color: #e6e6e6;
	border-color: #adadad;
}

.bootstrap-datetimepicker-widget {
	color: #333;
}

.bootstrap-datetimepicker-widget>ul {
	padding: 0;
}

.bootstrap-datetimepicker-widget td.active:hover,
	.bootstrap-datetimepicker-widget td.active:hover:hover,
	.bootstrap-datetimepicker-widget td.active:active,
	.bootstrap-datetimepicker-widget td.active:hover:active,
	.bootstrap-datetimepicker-widget td.active.active,
	.bootstrap-datetimepicker-widget td.active:hover.active,
	.bootstrap-datetimepicker-widget td.active.disabled,
	.bootstrap-datetimepicker-widget td.active:hover.disabled,
	.bootstrap-datetimepicker-widget td.active[disabled],
	.bootstrap-datetimepicker-widget td.active:hover[disabled],
	.bootstrap-datetimepicker-widget td span.active:hover,
	.bootstrap-datetimepicker-widget td span.active:active,
	.bootstrap-datetimepicker-widget td span.active.active,
	.bootstrap-datetimepicker-widget td span.active.disabled,
	.bootstrap-datetimepicker-widget td span.active[disabled] {
	background-color: #b74a12;
	border-color: #b44f25;
	background-image: none;
}

.invisible {
	display: none !important;
	opacity: 0 !important;
	visibility: hidden !important;
}

.modal-dialog {
	width: 300px;
}

.modal-footer {
	height: 70px;
	margin: 0;
}

.modal-footer .btn {
	font-weight: bold;
}

.modal-footer .progress {
	display: none;
	height: 32px;
	margin: 0;
}

.input-group-addon {
	color: #fff;
	background: #3276B1;
}

.modal-title {
	color: #333;
}

.modal-content {
	border-radius: 0;
}

.modal-body {
	padding-bottom: 0;
}

.input-group-addon:last-child {
	border-left: 0;
	top: 0px;
	padding: 8px 10px;
	border-radius: 0px;
	background-color: #fff;
	color: #333;
}

.inner-panel {
	background-color: lightyellow;
}

.title-tab {
	position: relative;
	margin-top: -75px;
}

.link-on-red:hover, .link-on-red:focus, .link-on-red:active {
	color: #fff;
}

.seeMore {
	color: #666;
	color: rgba(0, 0, 0, 0.6);
	font-size: 110%;
	font-weight: bold;
}